{# Copyright 2020 Confluent
Contributors:
   Sven Erik Knop sven@confluent.io
   Christoph Schubert cschubert@confluent.io

 All rights reserved -#}
{# Template for cp-ansible inventory file -#}
{# Based on host_example.yml from https://github.com/confluentinc/cp-ansible -#}
# Automatically created from terraform data on {{timestamp}}

all:
  vars:
    ansible_connection: ssh
    ansible_user: {{ ansible_vars.user}}
    ansible_become: true
    ansible_ssh_private_key_file: {{ ansible_vars.keyfile }}


zookeeper:
  hosts:
    {% for host, tags in cluster_data.zookeeper_nodes.items() -%}
    {{ host }}:
      zookeeper_id: {{ tags['zookeeperid'] }}
    {% endfor %}
kafka_broker:
  hosts:
    {% for host, tags in cluster_data.kafka_broker_nodes.items() -%}
    {{ host }}:
      broker_id: {{ tags['brokerid'] }}
      kafka_broker:
        properties:
          broker.rack: {{ tags['availability_zone'] }}
    {% endfor %}

schema_registry:
  hosts:
    {% for host, tags in cluster_data.schema_registry_nodes.items() -%}
    {{ host }}:
    {% endfor %}

kafka_rest:
  hosts:
    {% for host, tags in cluster_data.rest_proxy_nodes.items() -%}
    {{ host }}:
    {% endfor %}

ksql:
  hosts:
    {% for host, tags in cluster_data.ksql_nodes.items() -%}
    {{ host }}:
    {% endfor %}

kafka_connect:
  hosts:
    {% for host, tags in cluster_data.connect_nodes.items() -%}
    {{ host }}:
    {% endfor %}

control_center:
  hosts:
    {% for host, tags in cluster_data.control_center_nodes.items() -%}
    {{ host }}:
    {% endfor %}
